@page
@model lab_83_asp_core_add_records.Pages.NorthwindCustomersModel
@{
    ViewData["Title"] = "NorthwindCustomers";
}

<h2>NorthwindCustomers</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
    </tr>
    @foreach(var customer in Model.customers)
    {
    <tr>
        <td>@customer.CustomerID</td>
        <td>@customer.CompanyName</td>
        <td>@customer.CompanyName</td>
    </tr>
    }
</table>